/*===========================
table of contents
============================

1.left section
2. Right section == animation
3.
4.Responsive design(media query)

*/

section.hero {
margin-top: 3rem;
}

section.hero .parent-avatar{
    flex-direction: column;
    flex-wrap: wrap;
align-items:flex-start;
gap: 0.6rem;
}


/*====================
/* 1. left section
======================
*/
section.hero .left-section {
    flex-grow:1;
    /*some issues with badge not at flex end*/

}


section.hero .avatar {
    width: 88px;
    border-radius: 50%;
    border: 1px solid darkorange;
    padding: 1px;
    box-shadow: 2px 2px 40px rgb(203, 200, 200, 0.301) inset;
}

section.hero .icon-verified {
    color: var(--blue);
    font-size: 1.1rem;
    margin-bottom:0.3rem ;
    /* to fix: the badge must be at he end*/
}

/*====================
/* 2. Right section == animation
======================
*/
section.hero h1.title {
    font-size: 2.5rem;
    line-height: 3rem;
    margin: 24px 0;
    color: var(--title);
}
.sub-title {
    color: var(--title);
font-size: 0.9rem;
line-height: 1.65rem;
margin-bottom: 32px;
}
section.hero .all-icons {
    font-size:1.3rem ;
    gap: 1.5rem;
    color: var(--subtitle);
}

section.hero .all-icons .icon:hover{
    font-size:1.4rem ;
    transition: .3s;
    cursor: pointer;
    color: var(--icon-hover)
}